
.homePostContain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; 
}
.nav-bar{
    position:sticky;
    top: 0;
    z-index: 1;
}

.nav-bar .active{
    /* background-color:  #467591; */
    position:sticky;
    top: 0;
    z-index: 1;
    background-color:#51748a;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    
}




